.comment-form-container form {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column;

  input {
    margin: 0 0 0.5rem;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }

  textarea {
    @extend input;

    // Overrides input styles
    margin: 0;
  }

  .comment-form-actions {
    align-self: flex-end;

    button {
      border: 1px solid transparent; /* Will void screen moving because of 1px border */
      color: black;
      background-color: transparent;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.2s;
      cursor: pointer;

      padding: 0.3rem;

      &:not(:last-of-type) {
        margin: 0.5rem;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
