.blog-posts-container {
  display: flex;
  flex-flow: column;

  justify-content: center;

  width: 100%;
}

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .post-item:not(:first-child) {
    margin: 1rem 0;
  }
}
