<div class="comment-container">
  <small data-test-author>
    <strong>{{comment?.user}} on the {{comment?.date}}</strong>
  </small>
  <p [innerHTML]="comment?.content | safe" data-test-comment></p>

  <div class="actions-container">
    <app-card-comment-actions (didPressReplyButton)="userDidPressReplyButton()"></app-card-comment-actions>
    <app-comment-form *ngIf="showReplyForm$ | async"
                      [shouldHaveCancelButtonAlwaysActive]="true"
                      (onCancelForm)="userDidCancelReply()"
                      (onSubmitForm)="userDidSubmitForm($event)"></app-comment-form>
  </div>

  <ul *ngIf="hasComments">
    <li *ngFor="let childComment of comments">
      <app-card-comment [comment]="childComment"></app-card-comment>
    </li>
  </ul>
</div>
