<div class="comments-preview-container">
  <ng-container [ngSwitch]="numberOfCommentsState | async">
    <span *ngSwitchCase="commentsAmountStateEnum.SINGLE" class="number-of-comments">{{(comments$ | async)?.length}}
      comment</span>
    <span *ngSwitchCase="commentsAmountStateEnum.MULTIPLE" class="number-of-comments">{{(comments$ | async)?.length}}
      comments</span>
    <span *ngSwitchDefault class="number-of-comments">0 comments</span>
  </ng-container>

  <a *ngIf="(numberOfCommentsState | async) === commentsAmountStateEnum.MULTIPLE" class="text-center" href="">
    View More
  </a>
</div>
